#mobile-menu {
    transform: scaleY(0);
    opacity: 0%;
    transform-origin: top;
    transition-duration: 400ms;
    top: 80px;
    left: 0px;
    width: 100%;
    z-index: 999;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

#mobile-menu .nav {
    flex-direction: column;
    gap: 4px;
}

.nav {
    flex-wrap: nowrap;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-link {
    white-space: nowrap;
}

.link {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.about-img,
.franchise_img {
    object-fit: cover;
    object-position: center;
}

.franchise_img {
    height: 100%;
}

.contact-map-iframe {
    height: 540px;
}

.secound_servie::before {
    display: none;
}

.training_service {
    margin-top: 100px;
}

.pagetitle h1 {
    margin-bottom: 0px !important;
}

.team-card {
    min-width: auto;
    width: 100%;
}

.cta_contact a {
    z-index: 100 !important;
}

/* harsh */

/* circel RTL */
html[dir="rtl"] {
    @media (min-width: 1200px) {
        .circel_data .pe-xl-5 {
            padding-right: 0 !important;
            padding-left: 3rem !important;
        }
        .circel_data .me-xl-5 {
            margin-right: 0 !important;
            margin-left: 3rem !important;
        }
 
        .circel_data .ps-xl-5 {
            padding-right: 3rem!important;
            padding-left: 0 !important;
        }
        .circel_data .ms-xl-5 {
            margin-right: 3rem!important;
            margin-left: 0!important;
        }
    }
 
    .circel_data .card_right .card {
        padding-left: 10px;
        padding-right: 0;
    }
    .circel_data .card_left .card {
        padding-right: 10px;
        padding-left: 0;
    }
 
    .circel_data .card_left .card .card-body {
        border-radius: 0 50px 50px 0;
    }
    .circel_data .card_right .card .card-body {
        border-radius: 50px 0 0 50px;
    }
 
    /* left side */
    .circel_data .last_row .card_left .card:after,
    .circel_data .first_row .card_left .card:after {
        right: unset;
        left: -40px;
    }
    .circel_data .last_row .card_left .card:before,
    .circel_data .first_row .card_left .card:before {
        right: unset;
        left: -60px;
        transform: rotate(20deg);
    }
    .circel_data .last_row .card_left .card:before{
        transform: rotate(160deg);
    }
 
    /* right side */
    .circel_data .last_row .card_right .card:after,
    .circel_data .first_row .card_right .card:after {
        left: unset;
        right: -40px;
    }
    .circel_data .last_row .card_right .card:before,
    .circel_data .first_row .card_right .card:before {
        left: unset;
        right: -60px;
        transform: rotate(160deg);
    }
    .circel_data .last_row .card_right .card:before{
        transform: rotate(20deg);
    }
 
    /* left */
    .circel_data .middle_row .card_left .card_third .card:after,
    .circel_data .middle_row .card_left .card_first .card:after {
        right: unset;
        left: -40px;
    }
    .circel_data .middle_row .card_left .card_third .card:before,
    .circel_data .middle_row .card_left .card_first .card:before {
        right: unset;
        left: -79px;
        transform: rotate(50deg);
    }
    .circel_data .middle_row .card_left .card_third .card:before{
        transform: rotate(130deg);
    }
 
    /* right */
    .circel_data .middle_row .card_right .card_third .card:after,
    .circel_data .middle_row .card_right .card_first .card:after {
        left: unset;
        right: -40px;
    }
    .circel_data .middle_row .card_right .card_third .card:before,
    .circel_data .middle_row .card_right .card_first .card:before {
        left: unset;
        right: -79px;
        transform: rotate(130deg);
    }
    .circel_data .middle_row .card_right .card_third .card:before{
        transform: rotate(50deg);
    }
    /* Middle */
    .circel_data .middle_row .card_left .card_secound .card:after,
    .circel_data .middle_row .card_right .card_secound .card:after {
        left: -140px;
        right: unset;
    }
    .circel_data .middle_row .card_right .card_secound .card:after {
        right: -140px;
        left: 0;
    }
}
/* circel RTL */ 

@media (min-width: 1250px) {
    .franchiseme_teams {
        margin-right: -20%;
    }
}
@media (max-width: 1025px) and (min-width: 900px) {
    .circel_data .card {
        max-width: 550px;
    }
}
@media (max-width: 1025px) {
    .circel_data .card::before,
    .circel_data .card::after {
        display: none;
    }
    .circel_data .card_left .card,
    .circel_data .card_right .card {
        padding-left: 0;
        padding-right: 0;
    }
    .circel_data .card_right .card .card-body {
        direction: rtl;
    }
    .circel_data .card_right .card .card-body {
        border-radius: 50px 0 0 50px;
    }
    .circel_data .card .cb_text {
        direction: ltr;
        text-align: left;
    }

    .circel_data .logo_circel {
        position: absolute;
        left: 0;
        top: calc(50% - 145px);
        width: auto;
    }

    html[dir="rtl"] {
        .circel_data .card_right .card .card-body {
            direction: ltr;
        }  
        .circel_data .card_right .card,
        .circel_data .card_left .card {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        .circel_data .card_right .card .card-body {
            border-radius: 0 50px 50px 0;
        }
        .circel_data .logo_circel {
            left: unset;
            right: 0;
        }
        .circel_data .card .card-body .sub_title,
        .circel_data .card .card-body .contain {
            text-align: right !important;
        }
    }
}
@media (max-width: 900px) and (min-width: 700px) {
    .circel_data .logo_circel {
        top: calc(50% - 130px);
    }
    .circel_data .center_cicel img {
        max-width: 220px;
    }
}
@media (max-width: 600px) {
    .logo_in_mobile {
        padding: 16px;
        border: 4px solid var(--secondary-color);
    }
    .logo_in_mobile img {
        max-height: 80px;
        max-width: 300px;
        width: 100%;
        object-fit: contain;
    }
}
/* harsh */
@media (max-width: 1024px) {
    body {
        overflow-x: hidden !important;
    }

    .container {
        padding-inline: 32px;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-img {
        height: 400px
    }

    .topbar {
        padding: 24px;
    }

    .about-img {
        height: 350px!important;
    }

    .pagetitle .container_box {
        padding: 100px 0;
    }

    .pagetitle h1 {
        font-size: 32px;
    }

    .btn,
    .button {
        font-size: 16px;
    }

    .title {
        font-size: 28px;
    }

    .sub_title {
        font-size: 20px;
    }

    .link,
    .decription p,
    .decription a,
    .lead {
        font-size: 16px;
    }

    .about-section {
        margin-inline: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 24px
    }

    .index-hero {
        margin-bottom: 50px;
    }

    .blog-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer {
        margin-top: 50px;
    }

    .about-img {
        height: 360px;
    }

    .franchiseme_teams {
        margin-right: 0px !important;
        max-width: 100%;
        margin-top: 50px;
    }

    .nav-link {
        padding-inline: 8px;
        font-size: 16px;
    }

    .achievement-title {
        font-size: 36px;
    }

    header,
    .nav-row {
        height: 80px;
    }

    header .nav-logo,
    footer .nav-logo {
        height: 32px;
    }

    .achievement-section {
        margin: 50px 0;
        padding: 50px 0;
    }

    .client-section,
    .team-container,
    .mission-container,
    .franchise-listing-container,
    .faq-section,
    .section-container,
    .map-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about-img {
        padding-inline: 20px;
    }

    .section-container {
        margin-bottom: 0px;
    }

    .social-btn i {
        font-size: 28px;
    }

    .splide__slide img {
        max-height: 40px;
    }

    .splide__track {
        height: 100px;
    }

    .contact_page_form {
        padding: 40px;
    }
   
    .contact-map-iframe {
        height: 320px;
    }

    .accordion-button {
        padding: 12px 16px !important;
        font-size: 18px !important;
    }

    .accordion-body {
        padding: 12px 16px !important;
    }

    .section_padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section_padding_half {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .cta_contact::before {
        background-size: 50px;
    }

    .blog-card img {
        height: 150px !important;
    }

    .blog-date {
        margin-bottom: 0px;
        font-size: 14px;
    }

    .blog-title {
        font-size: 20px;
        margin-bottom: 4px;
        line-height: 1.4;
    }

    .blog-caption {
        margin-bottom: 0px;
    }

    .search-container {
        margin-bottom: 24px;
    }

    .latest-blog-content {
        gap: 8px;
    }

    .latest-blog-container {
        padding: 12px !important;
    }

    .latest-blog-container .latest-title {
        font-size: 20px;
        margin: 8px 8px;
        margin-bottom: 0px;
    }

    .latest-caption {
        margin-inline: 8px;
    }

    .latest-blog-card {
        padding: 10px !important;
    }

    .latest-blog-card .card-link {
        gap: 10px;
    }

    .latest-blog-card img {
        height: 60px;
        width: 60px;
    }

    .latest-blog-date {
        font-size: 12px;
        line-height: 1.2;
    }

    .latest-blog-title {
        font-size: 16px;
        line-height: 1.15;
    }

    footer .maps-container {
        min-width: 100%;
    }

    .blog-section .title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .blog-cover-img {
        height: 280px !important;
        border-radius: 20px !important;
    }

    .blog-detail-content {
        margin-top: 16px;
    }

    .blog-detail-content h1,
    .blog-detail-content h2,
    .blog-detail-content h3,
    .blog-detail-content h4,
    .blog-detail-content h5,
    .blog-detail-content h6 {
        font-size: 20px;
    }

    .blog-detail-content p,
    .blog-detail-content a,
    .blog-detail-content ul {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 12px;
    }

    .blog-detail-cal-icon {
        font-size: 18px !important;
    }

    .blog-detail-date {
        font-size: 16px;
    }

    .franchise-form-title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .franchise_form_box {
        padding: 50px 35px !important;
        border-radius: 20px !important;
    }

    #mobile-menu {
        padding-inline: 32px;
    }

    .service_list_section {
        padding: 24px;
        border-radius: 20px;
    }

    /* ---------------------------- */
    .slider-track img {
        height: 40px !important;
        width: 40px !important;
    }
    /* --------------------------- */
}

@media (max-width: 576px) {
    html, body {
        overflow-x: hidden !important;
    }

    #mobile-menu {
        top: 70px;
        padding-inline: 20px
    }

    .container {
        padding-inline: 20px;
    }

    .topbar {
        padding: 20px;
    }

    .pagetitle .container_box {
        padding: 80px 0;
    }

    .pagetitle h1 {
        font-size: 28px;
    }

    .hero-img {
        height: 250px
    }

    .about-img {
        height: 240px!important;
    }

    .franchise_img {
        height: 240px!important;
    }

    header,
    .nav-row {
        height: 70px;
    }

    .social-btn i {
        font-size: 24px;
    }

    .sub_title {
        font-size: 18px;
    }

    .contact_page_form {
        padding: 32px;
    }

    .splide__slide img {
        max-height: 35px;
    }

    .splide__track {
        height: 80px;
    }
   
    .contact-map-iframe {
        height: 240px;
    }

    .accordion-button {
        font-size: 16px !important;
    }

    .about-img {
        padding-inline: 8px;
    }

    .blog-card img {
        height: 220px !important;
    }

    .latest-blog-container {
        padding: 16px !important;
    }

    .latest-blog-container .latest-title {
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .latest-blog-card {
        padding: 12px !important;
    }

    .blog-pagination-container {
        margin-top: 32px;
    }

    .blog-cover-img {
        height: 200px !important;
        border-radius: 16px !important;
    }

    .franchise_form_box {
        padding: 40px 25px !important;
        border-radius: 16px !important;
    }

    /* ---------------------------- */
    .slider-track img {
        height: 35px !important;
        width: 35px !important;
    }
}

/* --------------------------- RTL styles -------------------------- */
html[dir="rtl"] {
    .accordion-button::after {
        margin-left: 0px;
        margin-right: auto;
    }

    .accordion-button {
        text-align: right;
    }

    .franchise_list .fanchise_item .sector_tag {
        left: auto;
        right: 0px;
    }

    .fa-angle-left,
    .fa-angle-right,
    .fa-arrow-left,
    .fa-arrow-right,
    .fa-chevron-left,
    .fa-chevron-right {
        transform: rotate(180deg);
    }

    .franchiseme_teams {
        margin-right: 0%;
        margin-left: -20%;
    }

    .pe-md-5 {
        padding-right: 0 !important;
        padding-left: 3rem !important;
    }

    .cta_contact::before {
        background-position: left 10px bottom;
    }
}

/* ---------------------- */

.slider-track,
.splide__slide {
    height: 320px !important;
}

.sl_item {
    height: 320px;
    background-color: white;
    padding: 38px 30px 32px;
}

.sl_item img {
    margin-bottom: 1.5rem;
}

.sl_item p {
    font-size: 16px;
    margin-top: .5rem;
}

.slider-track img {
    height: 50px;
    width: 50px;
    filter: none;
}

/* ---------------------- */