/* ------------------- GLOBAL STYLES ----------------------------- */
:root {
    --primary-color: #085570;
    --secondary-color: #897B4D;
    --primary-font: 'AlbertSans-Variable';
    --blue-tertiary: #F0F7FA;
    --yellow-tertiary: #FDFCF9;
}

@font-face {
    font-family: 'AlbertSans-Variable';
    src: url('../font/AlbertSans-Variable.ttf');
    font-display: swap;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    letter-spacing: 0;
    white-space: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* -------------------- HEADER --------------------- */
header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    height: 90px;
    background-color: white;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

header .header_logo {
    width: 100%;
    max-width: 180px;
    max-height: 36px;
    object-fit: cover;
}

nav,
.nav-row {
    height: 90px;
}

.nav-btn {
    border: 1px solid black;
    height: 40px;
    line-height: 28px;
}

.nav-btn:hover {
    background-color: var(--primary-color);
    filter: none;
    color: white;
}

nav > button:hover {
    background-color: black;
    color: white;
}

.link {
    color: #6a7282;
    padding-inline: 20px;
    font-size: 18px;
}

.nav-item-link:hover {
    opacity: 0.85;
}

#siteHeader .nav-item-link {
    color: #616161;
}

.nav-item-link.active {
    color: #000;
}

/* ------------------------ GENERAL STYLES -------------------------- */
.container {
    max-width: calc(1440px + 24px);
}
.container_small {
    max-width: calc(1170px + 24px);
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_padding_half {
    padding-top: 70px;
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}

.title {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}
.title .yellow {
    line-height: 1.2;
    color: var(--secondary-color);
}
.sub_title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 16px;
}
.decription p,
.decription a,
.decription {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}
.decription a:hover {
    color: var(--secondary-color);
}
.decription.small p,
.decription.small {
    font-size: 16px;
}
.decription p {
    margin-bottom: 10px;
}
.decription p:last-child {
    margin-bottom: 0px;
}

.content-header {
    max-width: 1024px;
    margin-inline: auto;
    margin-bottom: 35px;
}

.button {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    border-radius: 50px;
    transition: all 500ms;
    white-space: nowrap;
    background: var(--secondary-color);
    color: white;
    padding: 15px 28px;
    display: inline-flex;   
    border: none;
}
.button.button_outline {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 15px 28px;
}
.button.button_outline:hover {
    background: var(--primary-color);
    color: white;
}
.button:hover {
    background: var(--primary-color);
    text-decoration: none;
}
.button.button_secoundary {
    background: var(--primary-color);
}
.button.button_secoundary:hover {
    background: var(--secondary-color);
}

/* Image */
/* img {
    object-fit: cover !important;
} */


/* --------------------- HERO STYLES ---------------------------- */
.hero-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero {
    margin-top: 0px;
}

.hero-img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.hero-title {
    /* color: var(--primary-color); */
    color: white;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
}

.hero_section_main {
    height: calc(100vh - 90px);
    position: relative;
}
.hero_section_main::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

/*  -------------------- ABOUT STYLES ----------------------- */
.about-section {
    margin: 100px 50px;
    gap: 50px;
}

.about-img {
    width: 100%;
}

.about-content {
    padding-left: 50px;
}

/* ---------------- VISION MISSION STYLES ------------------- */
/* .vision-img,
.mission-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin-bottom: 20px;
} */

/* .mission-img {
    height: 450px;
    width: 450px;
} */

/* .vision-container {
    display: flex;
    align-items: end;
    gap: 50px;
}

.vision-container p {
    font-weight: 400;
}

.vision-title {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-weight: 600;
}

.vision-bg {
    background-color: var(--blue-tertiary);
    position: absolute;
    height: 200px;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.vision-section {
    position: relative;
}

.vision-section .container {
    margin-top: 0px;
    padding-top: 0px;
}

.mission-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.vision-card h3 {
    font-weight: bold;
    color: var(--secondary-color);
    padding-bottom: 4px;
}

.vision-card p {
    font-weight: 500;
    color: #616161;
    font-size: 20px;
    margin-inline: 8px;
} */

/* New Design */
.mission_vision_container .mv_box {
    border: 1px solid rgba(0,0,0,0.25);
    height: 100%;
    padding: 30px;
    border-radius: 30px;
}

/* .mission_vision_container .right_side {
    border-left: 1px solid var(--primary-color);
} */
.mission_vision_container .mv_img {
    max-width: 58px;
}

/* ----------------- TEAMS STYLES -------------------- */
.team-section {
    margin: 100px 24px;
}

.team-container {
    gap: 30px;
    position: relative;
}

.team-card {
    min-width: 320px;
    height: 320px;
    padding: 38px 30px 32px;
    border: 1px solid rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px
}

.team-card p {
    font-size: 16px;
    height: 120px;
}

.team-count {
    margin-top: 40px;
}

.team-count-spacer {
    width: 40px;
    height: 1px;
    background-color: black;
    opacity: 50%;
}

/* .team-card-section {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 45vw;
    width: 55vw;
    gap: 50px;
    overflow-x: auto;
    padding-right: 100px;
} */

.team-card-section::-webkit-scrollbar {
    display: none;
}

.team-icon-container {
    display: flex;
    width: 100%;
}

/* --------------- Achievement Section ----------------------- */
.achievement-section {
    margin: 100px 0px;
    padding: 100px 0;
    background-color: #fafafa;
}

.achievement-title {
    color: var(--secondary-color);
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 0px;
}

/* --------------- Clients Section ----------------- */
.clients-section {
    margin: 100px 0;
}

.splide__slide,
.splide__slide img {
    height: 64px;
}

.splide__slide img {
    filter: saturate(0);
    transition-duration: 400ms;
}

.splide__slide img:hover {
    filter: saturate(1);
}

.splide__track {
    height: 120px;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(
        to right,
        #ffffff,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        #ffffff
    );
}

/* ---------------- Footer -------------------- */
footer {
    margin-top: 100px;
    padding: 30px 0;
    background-color: var(--yellow-tertiary);
    border-top: 1px solid rgba(0,0,0,0.25)
}

footer .footer_logo {
    max-width: 295px;
    max-height: 60px;
    object-fit: cover;
}

footer .caption {
    margin-top: 30px;
    margin-bottom: 60px;
}

footer .icons {
    font-size: 40px;
}

footer .social-btn {
    background-color: transparent;
    border: none;
    padding: 2px;
    transition-duration: 400ms;
    color: #000;
}

footer .social-btn:hover {
    color: var(--secondary-color);
}

footer h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 32px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 12px;
}

footer .link {
    padding-left: 0;
    font-weight: 500;
}

footer .link:hover,
footer .active {
    color: black;
}

footer .maps-container {
    min-width: 400px;
}

.footer-copyright {
    font-weight: 500;
    font-size: 18px;
    border-top: 1px solid rgba(0,0,0,0.25);
    margin-top: 20px;
    padding-top: 24px;
}

.footer-copyright p {
    margin-bottom: 24px;
}

footer .footer_social_icons .social-btn {
    display: block;
    line-height: 1;
}
footer .footer_social_icons .social-btn img {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
footer .footer_social_icons .social-btn:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/* -------------------- NEEDS ATTENTION --------------------------- */


/* -------------------- Light slider dot design --------------------------- */
.lSSlideOuter .lSPager li a {
    width: 10px !important;
    height: 10px !important;
    background-color: var(--primary-color) !important;
}
.lSSlideOuter .lSPager li.active a {
    width: 20px !important;
    background-color: var(--secondary-color) !important;
}
/* -------------------- Light slider dot design --------------------------- */


/* -------------------- Explore Opportunities --------------------------- */
.franchise_list .fanchise_item {
    /* border: 3px solid #000;
    border-left: 6px solid #000; */
}

.franchise_list .fl_item {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}
.franchise_list .fl_item:not(:nth-last-child(-n + 2)):before {
    content: ' ';
    height: 1px;
    width: calc(100% - 12px);
    background: #ddd;
    position: absolute;
    bottom: -12px;
    right: 0;
} 
.franchise_list .fl_item:nth-child(odd):before {
    right: auto;
    left: 0;
}
.franchise_list .fl_item:nth-child(odd) {
    border-right: 1px solid #ddd;
}

.franchise_list .fanchise_item .franchise_img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.franchise_list .fanchise_item .sector_tag {
    background: #000;
    padding: 6px 10px;
    position: absolute;
    /* left: -10px; */
    left: 0px;
    top: 16px;
    font-size: 16px;
    line-height: 1.2;
    color: white;
}
.franchise_list .fanchise_item .franchise_content {
    /* border-left: 3px solid #000; */
}
.franchise_list .fanchise_item .franchise_content .fc_info {
    padding: 24px 24px 0;
}
.franchise_list .fanchise_item .franchise_content .fc_info p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.franchise_list .fanchise_item .franchise_content .fc_meta {
    border-top: 3px solid #000;
    padding: 15px 24px;
}

.filter_box .form-control {
    background-color: rgba(251, 251, 251, 1);
    border-color: rgba(245, 245, 245, 1);
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.75rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.filter_box .search_input {
    background-image: url("../assest/osearch.png");
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-size: 20px;
    padding-left: 36px;
    min-width: 35%;
}
/* -------------------- Explore Opportunities --------------------------- */

/* -------------------- Page Title & header --------------------------- */
.topbar {
    background-color: #f1f2f4;
    padding: 30px 30px;
    border-radius: 0 0 30px 30px;
}

.pagetitle {
    /* padding: 150px 0; */
    margin: 0 0 0;
    border-radius: 20px;
    background-image: url("../assest/background-hero.jpg");
    /* background-color: #121212; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.pagetitle:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(18, 18, 18, 1) 15%, rgba(255, 255, 255, 0.1) 100%);
    opacity: 0.7;
}
.pagetitle .container_box {
    padding: 150px 0;
}
.pagetitle .container_box .back_btn {
    font-size: 16px;
    color: #FFF;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
}
.pagetitle .hero-title {
    color: #FFF;
    margin: 0;
}
.pagetitle .breadcrumbs {
    background: #f1f2f4;
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 20px;
    border-radius: 15px 15px 0 0;


    display: none;
}
.pagetitle .breadcrumbs p,
.pagetitle .breadcrumbs a {
    font-size: 16px;
    font-weight: 400;
}
.pagetitle .breadcrumbs a {
    color: var(--secondary-color);
    text-decoration: none;
}
/* -------------------- Page Title & header --------------------------- */


/* -------------------- Contact Us --------------------------- */
.form_box {
    background: #f1f2f4;
    padding: 70px 50px;
    border-radius: 30px;
}
.form_box .form-control {
    padding: 8px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #000;
}
/* -------------------- Contact Us --------------------------- */

/* -------------------- Service --------------------- */ 
.title_Sections:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assest/logo-outline-bg.png");   
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 55%;
    opacity: 0.35;
}

.services_list .sl_item {
    border: 1px solid #f1f7fa;
    /* background: linear-gradient(90deg, rgb(225, 234, 238) 0%, 50%, rgb(255, 255, 255) 100%); */
    background-color: #FFF;
    padding: 38px 30px 32px;
    position: relative;
}
.services_list .sl_item::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assest/logo-service.png");
    background-size: 150px;
    background-position: right 5px bottom 5px;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.services_list .sl_item .sli_img {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 50px;
    margin-bottom: 30px;
}
.services_list .sl_item .decription p {
    font-size: 16px;
}

.service_list_section {
    /* border: 1px solid var(--secondary-color); */
    border: 1px solid #f1f7fa;
    padding: 30px;
    border-radius: 30px;
    
    background: linear-gradient(90deg, rgb(225, 234, 238) 0%, 50%, rgb(255, 255, 255) 100%);
}
.service_list_section .lSPager.lSpg {
    display: none;
}

.secound_servie:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f1f7fa;
}
.secound_servie .ss_img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cta_contact::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assest/favicon.png");   
    background-position: right 10px bottom;
    background-repeat: no-repeat;
    background-size: 90px;
    opacity: 0.9;
}
/* -------------------- Service --------------------- */ 

/* -------------------- Modal --------------------- */ 
.modal .modal-dialog .modal-content {
    background: #f1f2f4;
    border-radius: 30px;
}
.modal-backdrop.show {
    opacity: 0.7;
}
/* -------------------- Modal --------------------- */ 





/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*--------------------- circel data ---------------------*/
.diagram_section {
    background-color: var(--blue-tertiary);
}
.circel_data {
    /* background: var(--bg-color); */
    /* background: var(--bg-color-gradient); */
    /* background: radial-gradient(circle,rgba(12, 127, 169, 1) 0%, rgba(3, 47, 62, 1) 100%); */
    background: var(--secoundry-color);
    /* margin-left: 50px;
    margin-right: 50px; */
}
.circel_data .card {
    /* padding: 0 10px; */
    /* border-radius: 16px; */
    border-radius: 0;
    /* border: 3px solid var(--primary-color); */
    border: none;
    transition: all 0.4s ease-in-out;
    max-width: 400px;
    position: relative;
    background: transparent;
}
.circel_data .card .cb_text {
    /* border-radius: 16px; */
    /* background: #FDFCF9; */
    /* padding: 10px; */
    /* border-top: 1px solid var(--secoundry-color); */
    /* background: linear-gradient(90deg, rgb(225, 234, 238) 0%, 50%, rgb(255, 255, 255) 100%); */
    padding: 10px 10px;
    border-radius: 0;
}
.circel_data .card_left .card {
    /* padding-right: 10px; */
    padding-left: 10px;
}
.circel_data .card_right .card {
    /* padding-left: 10px; */
    padding-right: 10px;
}
.circel_data .card_left .card .card-body {
    border-radius: 50px 0 0 50px;
}
.circel_data .card_right .card .card-body {
    border-radius: 0 50px 50px 0;
}
.circel_data .card .card-body {
    display: grid;
    /* grid-template-columns: 48px calc(100% - 60px); */
    /* grid-template-columns: calc(100% - 102px) 90px; */
    grid-template-columns: calc(100% - 90px) 90px;
    /* gap: 12px; */
    gap: 0;
    align-items: center;
    background: linear-gradient(90deg, rgb(225, 234, 238) 0%, 50%, rgb(255, 255, 255) 100%);
}
.circel_data .card_left .card .card-body {
    /* grid-template-columns: calc(100% - 60px) 48px; */
    /* grid-template-columns: 90px calc(100% - 102px); */
    grid-template-columns: 90px calc(100% - 90px);
}
.circel_data .card .card-body .count {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    /* background: var(--bg-color); */
    /* background: rgba(8, 85, 112, 1); */
    /* background: (90deg, rgb(255, 255, 255) 0%, 50%, rgb(231, 238, 241) 100%); */
    background: #FFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.circel_data .card .card-body .count:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    pointer-events: none;
    border: 1px solid var(--secondary-color);
}
.circel_data .card .card-body .count h1 {
    font-size: 38px;
    line-height: 38px;
    color: var(--primary-color);
    /* color: white; */
    font-family: var(--primary-font-regular);
    font-weight: 700;
    /* font-weight: 700; */
    margin: 0;
}
.circel_data .card .card-body .sub_title {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    min-height: 0px;
}
.circel_data .card .card-body .contain p,
.circel_data .card .card-body .contain {
    font-size: 14px;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    min-height: 0px;
}

.circel_data .card canvas {
    position: absolute;
    top: 50%;
    display: none;
}
.circel_data .first_row .card_left .card canvas {
    right: -80px;
}
.circel_data .first_row .card_right .card canvas {
    left: -80px;
}

.circel_data .middle_row .card_left .card canvas {
    right: -168px;
}
.circel_data .middle_row .card_right .card canvas {
    left: -168px;
}

/* left side */
/*.circel_data .last_row .card_left .card:after,
.circel_data .first_row .card_left .card:after {
    content: ' ';
    position: absolute;
    top: 40px;
    right: -80px;
    width: 80px;
    height: 96px;
    background-image: url(../assest/arrows/l1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}*/
.circel_data .last_row .card_left .card:after,
.circel_data .first_row .card_left .card:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -40px;
    width: 40px;
    height: 3px;
    background: var(--secondary-color);
}
.circel_data .last_row .card_left .card:before,
.circel_data .first_row .card_left .card:before {
    content: ' ';
    position: absolute;
    top: calc(50% - 3px);
    right: -60px;
    width: 3px;
    height: 120px;
    background: var(--secondary-color);
    transform: rotate(160deg);
}
.circel_data .last_row .card_left .card:before{
    top: unset;
    bottom: calc(50% - 6px);
    transform: rotate(20deg);
}
.circel_data .last_row .card_left .card:after {
    /* background-image: url(../assest/chartline1-r.png); */
    /* background-image: url(../assest/arrows/l5.png); */
    /* transform: rotate(180deg); */
    /* top: -56px; */
}

/* right side */
/*.circel_data .last_row .card_right .card:after,
.circel_data .first_row .card_right .card:after {
    content: ' ';
    position: absolute;
    top: 40px;
    left: -80px;
    width: 80px;
    height: 96px;
    background-image: url(../assest/arrows/r1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}*/
.circel_data .last_row .card_right .card:after,
.circel_data .first_row .card_right .card:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -40px;
    width: 40px;
    height: 3px;
    background: var(--secondary-color);
}
.circel_data .last_row .card_right .card:before,
.circel_data .first_row .card_right .card:before {
    content: ' ';
    position: absolute;
    top: calc(50% - 3px);
    left: -60px;
    width: 3px;
    height: 120px;
    background: var(--secondary-color);
    transform: rotate(20deg);
}
.circel_data .last_row .card_right .card:after {
    /* background-image: url(../assest/chartline1.png); */
    /* background-image: url(../assest/arrows/r5.png); */
    /* transform: rotate(180deg); */
    /* top: -56px; */
}
.circel_data .last_row .card_right .card:before{
    top: unset;
    bottom: calc(50% - 6px);
    transform: rotate(160deg);
}

/* left */
.circel_data .middle_row .card_left .card_third .card:after,
.circel_data .middle_row .card_left .card_first .card:after {
    /* content: ' ';
    position: absolute;
    top: 40px;
    right: -100px;
    width: 100px;
    height: 50px;
    background-image: url(../assest/arrows/l2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */

    content: ' ';
    position: absolute;
    top: 50%;
    right: -40px;
    width: 40px;
    height: 3px;
    background: var(--secondary-color);
}
.circel_data .middle_row .card_left .card_third .card:before,
.circel_data .middle_row .card_left .card_first .card:before {
    content: ' ';
    position: absolute;
    top: calc(50% - 17px);
    right: -79px;
    width: 3px;
    height: 100px;
    background: var(--secondary-color);
    transform: rotate(130deg);
}
.circel_data .middle_row .card_left .card_third .card:before{
    top: unset;
    bottom: calc(50% - 20px);
    transform: rotate(50deg);
}
.circel_data .middle_row .card_left .card_third .card:after {
    /* background-image: url(../assest/chartline2-r.png); */
    /* background-image: url(../assest/arrows/l4.png); */
    /* transform: rotate(180deg); */
    /* top: -10px; */
}

/* right */
.circel_data .middle_row .card_right .card_third .card:after,
.circel_data .middle_row .card_right .card_first .card:after {
    /* content: ' ';
    position: absolute;
    top: 40px;
    left: -100px;
    width: 100px;
    height: 50px;
    background-image: url(../assest/arrows/r2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */

    content: ' ';
    position: absolute;
    top: 50%;
    left: -40px;
    width: 40px;
    height: 3px;
    background: var(--secondary-color);
}
.circel_data .middle_row .card_right .card_third .card:before,
.circel_data .middle_row .card_right .card_first .card:before {
    content: ' ';
    position: absolute;
    top: calc(50% - 17px);
    left: -79px;
    width: 3px;
    height: 100px;
    background: var(--secondary-color);
    transform: rotate(50deg);
}
.circel_data .middle_row .card_right .card_third .card:before{
    top: unset;
    bottom: calc(50% - 20px);
    transform: rotate(130deg);
}
.circel_data .middle_row .card_right .card_third .card:after {
    /* background-image: url(../assest/chartline2.png); */
    /* background-image: url(../assest/arrows/r4.png); */
    /* transform: rotate(180deg); */
    /* top: -10px; */
}

/* Middle */
.circel_data .middle_row .card_left .card_secound .card:after,
.circel_data .middle_row .card_right .card_secound .card:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -140px;
    width: 140px;
    height: 3px;
    background: var(--secondary-color);
}
.circel_data .middle_row .card_right .card_secound .card:after {
    left: -140px;
    right: 0;
} 

.circel_data .center_cicel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid var(--primary-color); */
    background-color: var(--blue-tertiary);
    background-image: url("../assest/FranchiseME.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 20px;    
}
.circel_data .center_cicel img {
    object-fit: contain;
    max-width: 250px;
    max-height: 52px;
    width: 100%;
}

.modal .modal-dialog .modal-content {
    background: rgba(255, 255, 255, 0.95);
    border: 7px solid var(--secoundry-color);
}
.modal-backdrop.show {
    opacity: 0.7;
}

/* ------------------------------ blog detail --------------------------- */

.blog-cover-img {
    width: 100%;
    height: 420px;
    border-radius: 32px;
    object-fit: cover;
}

.blog-detail-cal-icon {
    font-size: 24px;
    color: var(--secondary-color);
}

.blog-detail-date {
    font-size: 18px;
    font-weight: 600;
    color: #616161;
}

.blog-detail-container {
    margin-top: 32px;
}

.blog-detail-content {
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.blog-detail-content h1,
.blog-detail-content h2,
.blog-detail-content h3,
.blog-detail-content h4,
.blog-detail-content h5,
.blog-detail-content h6 {
    color: var(--primary-color);
    font-weight: 600;
}

.blog-detail-content p,
.blog-detail-content li,
.blog-detail-content span,
.blog-detail-content a {
    color: #212121;
    font-weight: 500;
    line-height: 1.5;
}

.blog-detail-content a {
    color: var(--secondary-color);
}

/* ----------------------- blog ------------------------ */
.blog-card {
    margin-bottom: 35px;
}

.blog-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 16px;
}

.blog-date {
    opacity: 60%;
    font-weight: 500;
    margin-bottom: 4px;
}

.blog-title {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 8px;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    min-height: 0px;
}

.blog-caption {
    opacity: 80%;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    min-height: 0px;
}

.card-link {
    color: inherit;
}

.search-container {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 32px;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
}

.latest-blog-container {
    padding: 24px;
    border-radius: 32px;
    background-color: var(--blue-tertiary);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.latest-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--primary-color);
}

.latest-caption {
    margin-bottom: 0px;
    opacity: 80%;
}

.latest-blog-content {
    margin-top: 12px;
    gap: 12px;
}

.latest-blog-card {
    padding: 16px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
    align-items: center;
}

.latest-blog-card .card-link {
    display: flex;
    gap: 16px;
}

.latest-blog-img {
    height: 80px;
    width: 80px;
    border-radius: 12px;
    object-fit: cover;
}

.latest-blog-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1.2;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    min-height: 0px;
}

.latest-blog-date {
    font-size: 13px;
    font-weight: 500;
    opacity: 60%;
    margin-bottom: 4px;
}

.blog-pagination-btn {
    background-color: transparent;
    border: none;
    padding: 8px;
    opacity: 60%;
    font-weight: 500;
}

.blog-pagination-btn:hover, .blog-pagination-btn.active {
    color: var(--primary-color);
    opacity: 100%;
}

/* --------------------------- faqs -------------------------- */
.faq-title {
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 50px;
}
.faq_section .need_help {
    background: rgb(255 204 0 / 55%);
    max-width: 170px;
    padding: 30px 20px;
}
.faq_section .left_img {
    object-fit: cover;
    aspect-ratio: 1 / 0.916;
    max-width: 400px;
}
.faq_section .right_img {
    object-fit: cover;
    aspect-ratio: 1 / 1.25;
    max-width: 280px;
}
/* .faq-section .faq_list {
    padding-left: 50px;
} */
.faq-section .faq_list .accordion-item {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
}
.faq-section .faq_list .accordion-button {
    padding: 17px 20px;
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    box-shadow: none;
    background: linear-gradient(to right, white, var(--yellow-tertiary));
}
.faq-section .faq_list .accordion-body {
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.faq-section .faq_list .accordion-button:not(.collapsed) {
    background: var(--secondary-color);
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}

/* -------------------- frachise details ------------------- */
.blog-cover-img {
    width: 100%;
    height: 420px;
    border-radius: 32px;
    object-fit: cover;
}

.blog-detail-cal-icon {
    font-size: 24px;
    color: var(--secondary-color);
}

.blog-detail-date {
    font-size: 18px;
    font-weight: 600;
    color: #616161;
}

.blog-detail-container {
    margin-top: 32px;
}

.blog-detail-content {
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.blog-detail-content h1,
.blog-detail-content h2,
.blog-detail-content h3,
.blog-detail-content h4,
.blog-detail-content h5,
.blog-detail-content h6 {
    color: var(--primary-color);
    font-weight: 600;
}

.blog-detail-content p,
.blog-detail-content li,
.blog-detail-content span,
.blog-detail-content a {
    color: #212121;
    font-weight: 500;
    line-height: 1.5;
}

.blog-detail-content a {
    color: var(--secondary-color);
}

/*--------------------- circel data ---------------------*/

/*--------------------- RTL SUPPORT ---------------------*/
html[dir=rtl] {
    body {
        direction: rtl;
        text-align: right;
    }

    /* General */
    .sub_header {
        padding-left: 0;
        padding-right: 24px;
    }
    .sub_header:before {
        left: unset;
        right: 0;
    }

    .contain.black a,
    .contain.black {
        text-align: right;
    }

    /* Header */
    .main_header .navbar-nav {
        margin: 0 15px 0 0;
    }
    .main_header .navbar-nav .nav-link {
        text-align: right;
    }

    /* Hero */
    .hero_section {
        background-position: bottom left;
    }
    .hero_section .overlay h1 {
        text-align: right;
    }

    /* About */
    .about_section .about_timeline {
        border-left: unset;
        border-right: 1px solid #DDD;
        padding: 10px 50px 10px 0;
    }
    .about_section .about_timeline .at_item .sub_title:before {
        left: unset;
        right: -61px;
    }

    /* Mission Vision */
    .mission_vission .mv_right {
        border-left: unset;
        border-right: 1px dashed #999;
    }

    /* CEO Message */
    .ceo_message .cm_right {
        text-align: right;
    }

    /* Services */
    .faq_section .faq_list {
        padding-left: 0;
        padding-right: 50px;
    }
    .service_tab_content .tab-pane .mv_right {
        border-left: unset;
        border-right: 1px dashed #999;
    }

    /* Investment */
    .investor_process .step_box:not(:last-child) .setp_arrow_bg {
        position: relative;
        background-image: none;
    }
    .investor_process .step_box:not(:last-child) .setp_arrow_bg:before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 0;
        width: calc(100% - 120px);
        height: 100%;
        background-image: url("../image/how-work-right-arrow.svg");
        background-position: center left;
        background-size: 100%;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(-180deg);
    }
    .investor_process .step_box .step_icon .contain {
        left: unset;
        right: 0;
    }

    .investment_testimonials .testimonial_heading,
    .testimonial_section .testimonial_caresoul .testimonial_heading {
        background-position: top left 10px;
    }

    .form-select {
        background-position: left .75rem center;
    }
    .opportunities_filter .search .form-control {
        padding-left: 15px;
        padding-right: 40px;
    }
    .opportunities_filter .search .icon {
        left: unset;
        right: 15px;
    }

    .pagination .page-item:first-child .page-link {
        border-radius: 0;
        border-top-right-radius: var(--bs-pagination-border-radius);
        border-bottom-right-radius: var(--bs-pagination-border-radius);
    }
    .pagination .page-item:last-child .page-link {
        border-radius: 0;
        border-top-left-radius: var(--bs-pagination-border-radius);
        border-bottom-left-radius: var(--bs-pagination-border-radius);
    }
}
